.cont {
  text-align: center;
}


#LBtn {
  height: 50px;
  width: 35%;
  margin-right: 10%;
}
#Rbtn {
  height: 50px;
  width: 35%;
  margin-left: 10%;
}

.mat-dialog-actions {
  display: unset;
  text-align: center;
}
