.addBtn {
  height: 55px;
  border-radius: 30px;
  margin-left: 10%;
  margin-bottom: 30px;
}
#greeting {
  color: #3f51b5;
  font-size: 34px;
  font-weight: 700;
  margin-left: 10%;
  margin-bottom: 30px;
}

section {
  padding-bottom: 30px;
}
